<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

<h1>Welcome to Meadowlark</h1>
<h2>{{ fortunes}}</h2>
  <img src="/img/img.png" alt="MeadowLark PArk">
  </body>
</html>
